<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.diabetescalc"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="16"/>
    <application android:label="diabetescalc3" android:icon="@drawable/ic_launcher">
        <activity android:name="MyActivity"
                  android:label="diabetescalc"
                    android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".logFile"
                  android:launchMode="singleInstance">
        </activity>
        <!--<activity android:name=".TerrysChart"-->
                  <!--android:launchMode="singleInstance">-->
        <!--</activity>-->
        <activity android:name=".AlarmActivity"
                  android:launchMode="singleInstance">
        </activity>
        <activity android:name=".About"
                  android:launchMode="singleInstance">
        </activity>
        <activity android:name=".preferences"
                  android:launchMode="singleInstance">
        </activity>
    </application>
</manifest>
